.thumb {
  display: inline-block;
  width: 580px;
  height: 275px;
  position: relative;
  margin:0px;
  cursor: pointer;
	padding: 25px 0px 0px 120px;
}
.thumb:before, .thumb:after {
  position: absolute;
  box-sizing: border-box;
  display: block;
  content: " ";
  transition: all 0.3s ease;
}
.thumb:before {
  background: rgba(0, 0, 0, 0.7);
  top: 32px;
  left: 32px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.thumb:after {
  top: 48px;
  left: 57.6px;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-top-width: 16px;
  border-bottom-width: 16px;
  border-left-width: 19.2px;
  border-left-color: rgba(255, 255, 255, 0.9);
}
.thumb:hover:before, .thumb:hover:after {
  transform: scale(1.05);
}
.thumb:hover:before {
  background: black;
}
.thumb.active:after {
  width: 20.8px;
  height: 26.4px;
  top: 50.8px;
  left: 53.6px;
  border-width: 0 7.2727272727px;
  border-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: spin 3.636363s linear infinite;
  animation: spin 3.636363s linear infinite;
}
.thumb.active:hover:after {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}